%p
  %b Title:
  %h1= @document.title
%p
  %b Category:
  = Category.find(@document.category_id).name
%p
  %b Author:
  = @document.author
%p
  %b Date:
  = @document.date
%p
  %b Body:
  =  raw @document.body 

= link_to 'Edit', edit_document_path(@document)
\|
= link_to 'Back', documents_path
