%h1 Listing docviews

%table
  %tr
    %th Title
    %th Content
    %th
    %th
    %th

  - @docviews.each do |docview|
    %tr
      %td= docview.title
      %td= docview.content
      %td= link_to 'Show', docview
      %td= link_to 'Edit', edit_docview_path(docview)
      %td= link_to 'Destroy', docview, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Docview', new_docview_path
